**********/
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

h1 {
    font-size: 2.6rem;
}

html {
    box-sizing: border-box;
    background: radial-gradient(circle, rgba(107,107,107,1) 0%, rgba(0,0,0,1) 100%);
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
  }
/** BASE **/

/**********/

body {
  margin: 0;
  padding-top: 10px;
  font-family: "Arial", sans-serif;
  background: rgb(107,107,107);
  background: radial-gradient(circle, rgba(107,107,107,1) 0%, rgba(0,0,0,1) 100%);
}

fieldset {
    margin: 0 1rem;
    flex: 1;
    border-style: none;
}

/**********/
/** GRID **/
/**********/
*,
*::before,
*::after {
  box-sizing: border-box;
  
}

#page-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 600px;
}
@media only screen and (min-width: 970px) {
  .container {
    width: 970px;
    padding: 1rem;
  }
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.column {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  max-width: 100%;
  max-width: calc(100% - 10px);
  min-height: 1px;
  margin-right: 5px;
  margin-left: 5px;
}
@media only screen and (min-width: 640px) {
  .column {
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
  }
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}

/**********/
/** DEMO **/
/**********/
.column--demo {
  min-height: 100px;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 10px;
  color: #000;
  background-color: #eee;
}




#step_1 {
 background-color: #a9eac5;
}
#step_2 {
    background-color: #aadbeb;
}
#step_3 {
    background-color: #ecc6aa;
}

label[for^="num_attendees"], .wrap label {
  font-style: italic;
  font-family: 'Times', serif;
  display: inline;
}
.desc {
  font-family: 'Times', serif;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  /* font-family: inherit; */
  font-size: 2rem;
}
#attendee_container {
  transition:flex 0.3s ease-out;
  display: none;
  height:auto;
  flex:1;
}

.collapsed {
  flex: 0;
}

fieldset {
  padding: 1rem 2.7em 1rem 1rem;
}

#attendee_container h3 {
    font-weight: 800;
    font-size: 1rem;
    margin: 1rem 0 .5rem 0;
}

#attendee_container label {
    font-size: .8rem;
    font-family: auto;
}
.wrap {
  margin-bottom: .4rem;
}
/* #attendee_container > div {
    display: inline;
} */

input[type="text"] {
    width: 9rem;
    height: 1rem;
}
#num_attendees {
    font-size: .7rem;
}
#step_2 [for="company_name"], #step_2 div p {
  margin-top: 1rem;
}

label.desc, p.desc {
    font-size: 1.1rem;
}

legend {
    background-color: white;
    width: 30%;
    height: 2rem;
    padding: 2% 4%;
    border-radius: 7px;
    max-width: 100%;
    font-weight: 800;
    font-size: 1.1rem;
}
h1 {
    color: #fff;
}
h1 span {
    color: #418dcc;
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .column {
  width: 32%;
  height: min-content;
}

fieldset:disabled {
    opacity: 0.4;
    /* cursor: not-allowed; */
}

#step1_result {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 2rem 0;
}

#step1_result:before {
  content: " "; 
  display: block;
  border: solid 2.5rem #c1fcbd; 
  border-radius: 50%; 
  height: 0;
  width: 0;
  position: absolute;
  left: 7rem;
	box-shadow: 0 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 2px rgba(0,0,0,0.3);
	-o-box-shadow: 0 2px rgba(0,0,0,0.3);
}
#step1_result:after {
  content: " ";
  display: block;
  width: 2rem;
  height: 3rem;
  border: solid #6bbf30;
  border-width: 0 0.6rem 0.6rem 0; 
  position: absolute;
  left: 8.6rem;
  bottom: 2.5rem;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

input#submit_button {
  margin: 1.5rem 0;
  font-size: .7rem;
}

[name="company_name_toggle_group"], [for^="company_name_toggle_"] {
  display: inline;
  font-family: 'Times', serif;
  font-style: italic;
}


/* custom inputs start */
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; 
  top: 0;
  width: 1.25em; 
  height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

[type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: 0; 
  left: 0;
  font-size: 1.3em;
  line-height: 0.8;
  color: #000;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
 /* radio */
[type="radio"]:checked, [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: .8;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background-color: #aadbeb;
}
[type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #000;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
/* custom input end */


/* animazione */
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -3000px, 0);
  transform: translate3d(0, -3000px, 0);
  }
  
  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, 25px, 0);
  transform: translate3d(0, 25px, 0);
  }
  
  75% {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  }
  
  90% {
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
  }
  
  100% {
  -webkit-transform: none;
  transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -3000px, 0);
  transform: translate3d(0, -3000px, 0);
  }
  
  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, 25px, 0);
  transform: translate3d(0, 25px, 0);
  }
  
  75% {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  }
  
  90% {
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
  }
  
  100% {
  -webkit-transform: none;
  transform: none;
  }
} 

@media (max-width: 400px) {
  .row {
    display: block;
  }
}

